AccelEffect/AccelEffect.xcodeproj/xcuserdata
AccelEffect/AccelEffect.xcodeproj/project.xcworkspace/xcuserdata
AccelEffect/Build
AccelEffectEasy/Build
AccelEffectEasy/AccelEffectEasy.xcodeproj/project.xcworkspace/xcuserdata
AccelEffectEasy/AccelEffectEasy.xcodeproj/xcuserdata
